body{
  background: #f0f4f4;
  font-family: Cardo,Georgia,Cambria,Times New Roman,Times,serif
}
p, ul{
  font-size:1.25rem;
  margin:1.5rem 1.25rem;
  color:#4a5568;
}
ul{
font-size:1.1rem;
}

.asap-title{
  font-family: 'Asap', sans-serif;
}
b{
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}